/**colors**/
/**mixins**/
/**grids**/
.grid-4 {
  display: grid;
  grid-template-areas: 'grid1 grid2 grid3 grid4';
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr); }

.grid-3 {
  display: grid;
  grid-template-areas: 'grid1 grid2 grid3';
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr); }

.grid-2 {
  display: grid;
  grid-template-areas: 'grid1 grid2';
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr); }

/**flex**/
.container-flex {
  display: flex;
  align-items: center;
  justify-content: center; }

#course {
  position: relative; }
  #course::before, #course::after {
    content: '';
    position: absolute;
    height: 100px;
    top: -50px;
    right: 0;
    left: 0;
    background-color: #fff;
    transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg); }
  #course .course-platform {
    text-align: center;
    padding: 4em 0 0 0;
    color: #fff;
    font-size: 3rem;
    font-weight: 300; }
  #course #youtube-title {
    color: #18418a;
    padding: 2em 0 1em 0; }
  #course #yt-subs-btn {
    text-align: center;
    margin-top: 1.5em; }
    #course #yt-subs-btn h2 {
      color: #1792d2;
      padding-bottom: 1em;
      font-weight: 400;
      font-size: 1.5rem; }
  #course .youtube-wrapper .course-element-wrapper,
  #course .udemy-wrapper .course-element-wrapper {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 5px;
    border: #fff 1px solid; }
    #course .youtube-wrapper .course-element-wrapper .course-info-text,
    #course .udemy-wrapper .course-element-wrapper .course-info-text {
      position: relative;
      text-align: center;
      padding: 1em;
      color: #143774;
      background-color: #fff;
      border-radius: 5px;
      font-size: 1.2rem;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); }
    #course .youtube-wrapper .course-element-wrapper .course-title-container,
    #course .udemy-wrapper .course-element-wrapper .course-title-container {
      padding: 1em;
      border-radius: 5px 5px 0 0; }
      #course .youtube-wrapper .course-element-wrapper .course-title-container h3,
      #course .udemy-wrapper .course-element-wrapper .course-title-container h3 {
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem; }
    #course .youtube-wrapper .course-element-wrapper .course-img,
    #course .udemy-wrapper .course-element-wrapper .course-img {
      max-width: 100%;
      height: auto; }
    #course .youtube-wrapper .course-element-wrapper .link-wrapper,
    #course .udemy-wrapper .course-element-wrapper .link-wrapper {
      text-align: center;
      display: flex;
      justify-content: stretch;
      align-items: center; }
      #course .youtube-wrapper .course-element-wrapper .link-wrapper .enroll-link-wrapper,
      #course .udemy-wrapper .course-element-wrapper .link-wrapper .enroll-link-wrapper {
        border-radius: 0 0 5px 5px;
        width: 100%;
        background-color: #47c17e;
        color: #226741;
        padding: 1em; }
        #course .youtube-wrapper .course-element-wrapper .link-wrapper .enroll-link-wrapper:hover,
        #course .udemy-wrapper .course-element-wrapper .link-wrapper .enroll-link-wrapper:hover {
          background-color: #2f8d59;
          color: #fff; }
  #course .udemy-wrapper .course-element-wrapper:nth-child(odd) .course-title-container {
    background-color: #1792d2; }
  #course .udemy-wrapper .course-element-wrapper:nth-child(even) .course-title-container {
    background-color: #ff581a; }
  #course .youtube-wrapper .course-element-wrapper:nth-child(odd) .course-title-container {
    background-color: #ff581a; }
  #course .youtube-wrapper .course-element-wrapper:nth-child(even) .course-title-container {
    background-color: #1c4ca0; }
  #course .udemy-wrapper,
  #course .youtube-wrapper {
    padding: 7em 0.5em; }
  #course #youtube-title,
  #course .youtube-wrapper {
    background-color: #fff; }
  #course #udemy-title,
  #course .udemy-wrapper {
    background-color: #1792d2; }
