/**colors**/
/**mixins**/
/**grids**/
.grid-4 {
  display: grid;
  grid-template-areas: 'grid1 grid2 grid3 grid4';
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr); }

.grid-3 {
  display: grid;
  grid-template-areas: 'grid1 grid2 grid3';
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr); }

.grid-2 {
  display: grid;
  grid-template-areas: 'grid1 grid2';
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr); }

/**flex**/
.container-flex {
  display: flex;
  align-items: center;
  justify-content: center; }

#footer-container {
  background-color: #1792d2;
  padding: 6em 10em 2em 10em; }
  #footer-container .footer-wrapper {
    grid-template-columns: 2fr 2fr 1fr .6fr; }
    #footer-container .footer-wrapper p {
      color: #f2f2f2;
      padding: .5em 0;
      letter-spacing: .03em;
      font-size: 1rem; }
  #footer-container .footer-objective p {
    font-size: 1.1rem;
    line-height: 1.5; }
  #footer-container a {
    color: #e6e6e6; }
    #footer-container a:hover {
      color: #0f2956; }
  #footer-container ul {
    padding-bottom: .8em; }
    #footer-container ul li {
      padding-bottom: .6em; }
    #footer-container ul h5 {
      padding-bottom: .4em;
      font-size: 1rem;
      color: #0f2956; }
  #footer-container .footer-branding {
    font-weight: 400;
    letter-spacing: .03em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #footer-container .footer-branding .portrait {
      text-align: center;
      width: 120px;
      height: 120px;
      border-radius: 5px;
      border: solid 2px #f2f2f2;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); }
    #footer-container .footer-branding .footer-message {
      padding: 1em 0; }
      #footer-container .footer-branding .footer-message h2,
      #footer-container .footer-branding .footer-message h3 {
        text-align: center;
        color: #0f2956; }
      #footer-container .footer-branding .footer-message p:last-child a:nth-child(4) {
        color: #0f2956; }
        #footer-container .footer-branding .footer-message p:last-child a:nth-child(4):hover {
          text-decoration: underline; }
  #footer-container .lang-social {
    border-bottom: 2px solid #0f2956;
    justify-content: space-between;
    padding: 1em 0; }
    #footer-container .lang-social .nav-lang {
      font-size: .8rem;
      font-weight: 700; }
      #footer-container .lang-social .nav-lang .nav-link i {
        padding: 0 .8em 0 .2em; }
      #footer-container .lang-social .nav-lang .sub-list-1 {
        display: none; }
      #footer-container .lang-social .nav-lang:hover a {
        color: #0f2956; }
      #footer-container .lang-social .nav-lang:hover .sub-list-1 {
        display: block;
        position: absolute;
        background-color: #0f2956;
        color: #f2f2f2;
        margin: -3em 0  0  7em;
        width: 120px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); }
        #footer-container .lang-social .nav-lang:hover .sub-list-1 ul {
          padding: 0em; }
          #footer-container .lang-social .nav-lang:hover .sub-list-1 ul .nav-item {
            border-bottom: 1px dotted #f2f2f2;
            padding: .6em;
            text-align: left;
            margin: 0; }
            #footer-container .lang-social .nav-lang:hover .sub-list-1 ul .nav-item a {
              padding: 0;
              color: #e6e6e6; }
            #footer-container .lang-social .nav-lang:hover .sub-list-1 ul .nav-item:hover {
              background-color: #f2f2f2; }
              #footer-container .lang-social .nav-lang:hover .sub-list-1 ul .nav-item:hover a {
                color: #0f2956; }
            #footer-container .lang-social .nav-lang:hover .sub-list-1 ul .nav-item:last-child {
              border: none; }
    #footer-container .lang-social .footer-social .fa,
    #footer-container .lang-social .footer-social .fas {
      padding: .4em .3em .3em .3em;
      font-size: 1em;
      height: 1.8em;
      width: 1.8em;
      text-align: center;
      text-decoration: none;
      margin: .65em 0.2em;
      border-radius: 2px; }
    #footer-container .lang-social .footer-social .fa-link,
    #footer-container .lang-social .footer-social .fa-facebook,
    #footer-container .lang-social .footer-social .fa-instagram,
    #footer-container .lang-social .footer-social .fa-linkedin,
    #footer-container .lang-social .footer-social .fa-skype,
    #footer-container .lang-social .footer-social .fa-youtube,
    #footer-container .lang-social .footer-social .fa-twitter {
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      color: #0f2956;
      background: #f2f2f2; }
    #footer-container .lang-social .footer-social #fa-verbling:hover,
    #footer-container .lang-social .footer-social #fa-preply:hover {
      background-color: #ff5f24;
      color: #ffffff; }
    #footer-container .lang-social .footer-social #fa-inst:hover {
      background: #517fa4;
      color: #ffffff; }
    #footer-container .lang-social .footer-social #fa-yout:hover {
      background: #bb0000;
      color: white; }
    #footer-container .lang-social .footer-social #fa-link:hover {
      background: #007bb6;
      color: white; }
    #footer-container .lang-social .footer-social #fa-face:hover {
      background: #3b5998;
      color: white; }
    #footer-container .lang-social .footer-social #fa-twit:hover {
      background: #00aced;
      color: white; }
    #footer-container .lang-social .footer-social #fa-sky:hover {
      background: #00aff0;
      color: white; }
  #footer-container .copy-right-container {
    font-weight: 400;
    font-size: 1rem;
    padding-top: 1em; }
    #footer-container .copy-right-container p {
      padding: 0 1em; }
      #footer-container .copy-right-container p a:hover {
        color: #0f2956; }
      #footer-container .copy-right-container p:nth-child(1) {
        color: #0f2956; }
