/**colors**/
/**mixins**/
/**grids**/
.grid-4 {
  display: grid;
  grid-template-areas: 'grid1 grid2 grid3 grid4';
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr); }

.grid-3 {
  display: grid;
  grid-template-areas: 'grid1 grid2 grid3';
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr); }

.grid-2 {
  display: grid;
  grid-template-areas: 'grid1 grid2';
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr); }

/**flex**/
.container-flex {
  display: flex;
  align-items: center;
  justify-content: center; }
